/*全部滚动页面*/
html, body {
	margin: 0;
	padding: 0;
}
#superContainer {
	height: 100%;
	position: relative;
}

/*每个section是一个分页面*/
.section {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#menu{
	position: fixed;
	right: 30px;
	#right: 30px;
	top: 50%;
	width: 10px;
	margin: -50px;
	padding: 0;
}
#menu li{
	width: 10px;
	height: 10px;
	float: left;
	margin-top: 10px;
}

/*最后一页-悬浮的地球*/
@-webkit-keyframes float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}
@-moz-keyframes float{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}
@keyframes float{
    from {transform:translate(0, 0px);}
    65% {transform:translate(0, 15px);}
    to {transform: translate(0, -0px);}    
}
@keyframes rotate {
  from { background-position:0; } 
  to { background-position:200%; }
}
@-webkit-keyframes rotate {
  from { background-position:0; } 
  to { background-position:200%; }
}
@-moz-keyframes rotate {
  from { background-position:0; } 
  to { background-position:200%; }
}

/*最后页面的布局定义*/
body{
	padding: 0;
	text-align: center;
	font-family: 'open sans';
	margin: 0;
	height: 100%;
}
.wrapper{
	position: relative;
	height: auto !important;
	margin-top: 30px;
	margin-left: -50px;
	overflow: hidden;
}
#lastPageText{
	text-align: center;
	color: #FFF;
	font-weight: bold;
}
#lastPageText .appeal{
	margin-top: 5%;
	font-size: 24px;
	z-index: 9999;
}
#lastPageText .staff{
	margin-top: 2%;
	font-size: 16px;
	z-index: 9999;
}

/*地球的定义*/
.ptr-shape{
	padding: 50px;
	display: inline-block;
	-webkit-animation: float 3s infinite ease-in-out;
	-moz-animation: float 3s infinite ease-in-out;
	animation: float 3s infinite ease-in-out;
}
.ptr-planet{
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.ptr-interacting .ptr-planet{
	-webkit-animation: none !important;
	-moz-animation: none !important;
	animation: none !important;
}
.ptr-space{
	background: url(../img/stardust.jpg) repeat;
}
	
    
    