@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'zooHeadline';  /*给自定义字体命名*/
    src: url(../font/%E6%96%B9%E6%AD%A3%E5%8F%A4%E9%9A%B6%E7%AE%80%E4%BD%93.ttf);
    src: url(../font/%E6%96%B9%E6%AD%A3%E5%8F%A4%E9%9A%B6%E7%AE%80%E4%BD%93.ttf) format('eot'),
         url(../font/%E6%96%B9%E6%AD%A3%E5%8F%A4%E9%9A%B6%E7%AE%80%E4%BD%93.ttf) format('woff'),
         url(../font/%E6%96%B9%E6%AD%A3%E5%8F%A4%E9%9A%B6%E7%AE%80%E4%BD%93.ttf) format('truetype'),
         url(../font/%E6%96%B9%E6%AD%A3%E5%8F%A4%E9%9A%B6%E7%AE%80%E4%BD%93.ttf) format('svg')
}

@media screen and (min-aspect-ratio: 1440/960) {
	.hero__imgwrap .tilt__back,
	.hero__imgwrap .tilt__front,
	.codrops-header {
		background-size: 100vw auto;
	}
	.hero__img {
		width: 100vw;
		height: auto;
	}
}
@media screen and (max-width: 40em){
	.codrops-header h1 {
		font-size: 2.5em;
	}
	.hero {
		left: 20px;
		bottom: 20px;
		right: 20px;
		top: 20px;
	}
	.github-link {
		top: 40px;
		right: 40px;
	}
	.codrops-links {
		top: 35px;
		left: 30px;
	}
	.mobile-note {
		display: block;
	}
}

/*第一页*/
#firstPage .body{
	padding: 0;
	margin: 0;
	/*background: url(../../../plainSlide-Zoo-1.5/img/bg11.jpg) 0 0 no-repeat;*/
	background-size: cover;
}
#firstPage .main-container{
	text-align: center;
	width: 80%;
	margin:0 auto;
}
#firstPage .btn{
	overflow: hidden;
	font-size: 20px;
	margin:10px 15px 0 10px;
	background:teal;
	height:100px;
	width:100px;
	position:relative;
	border:0px;
	border-radius:100px;
	color:white;
	-webkit-transform: rotate(0deg);
}

/*ZooImg*/
.grid{
	float: left;
	width: 55%;
	height: 100%;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	list-style: none;
	padding: 3em 0 0 0;
	margin: 0 auto;
	max-width: 850px;
}
.grid__item {
	margin: 0 auto;
	width: 100%;
}
.grid--myZoo {
	margin-left: 100px;
	max-width: 650px;
}
.grid--myZoo .grid__img {
	position: relative;
	height: 0;
	padding-bottom: 62%;
}
.grid--myZoo .tilt {
	position: absolute;
	top: 0;
}
.grid__img--myZoo1 .tilt {
	-webkit-filter: grayscale(100%) brightness(105%) contrast(120%);
	filter: grayscale(100%) brightness(105%) contrast(120%);
	-webkit-transition: filter 0.5s, -webkit-filter 0.5s;
	transition: filter 0.5s, -webkit-filter 0.5s;
}
.grid__img--myZoo1 .tilt:hover {
	-webkit-filter: none;
	filter: none;
}
.tilt{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.tilt__back, .tilt__front{
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tilt__back{
	position: relative;
}
.tilt__front{
	position: absolute;
	top: 0;
	left: 0;
}

/*左边底下的字*/
#leftPart{
	margin-top: 10%;
	width: 50%;
	float: left;
}
#leftPart .container{
	font-size: 20px;
	width: 90%;
	height: 55%;
	margin-top:15%;
	margin-left: 20%;
	position: relative;
	text-align: left;
	float: left;
	font-weight: bold;
}
#leftPartText{
	margin-top: 5%;
	width: 100%;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
#rightPart{
	margin-top: 16%;
	margin-right: -10%;
	width: 50%;
	position: relative;
	float: right;
}
#rightPart .slogan{
	background-color: #F99;
}
	
#rightPart .headPart{
	text-align: center;
	position: relative;
	background-color: #FC6;
	font-size: 30px;
}
