#background-z{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  background: url(../../img/zhuhuan/bg-z.jpg);
  background-size:cover;
  background-size:100% 100%;
  z-index: 1;
  opacity: 0.8;
}
#title-z{
	top:5%;
	left:5%;
	position: absolute;
	height:10%;
	width:20%;
	z-index:2;
	filter:alpha(opacity=50);
	opacity:0.5;
	display: none;
	text-align: center;
}
#introduction-z{
	text-align: left;
	font-weight: bold;
	position: absolute;
	top:25%;
	left:5%;
	height:40%;
	width:20%;
	filter:alpha(opacity=50);
	opacity:0.5;
	display: none;
    z-index:2;
}	
h1{
	color:white;
}	
p{
	font-size:20px; 
	color:white;
}
#border1-z{
	position:absolute;
	height:40%;
	width:30%;
	z-index:2;
	top:0%;
	left:70%;
  background: url(../../img/zhuhuan/1.png);
  background-size:cover;
  background-size:100% 100%;
  display: none;
}
#border2-z{
	position:absolute;
	height:40%;
	width:30%;
	z-index:2;
	top:56%;
	left:10%;
  background: url(../../img/zhuhuan/2.png);
  background-size:cover;
  background-size:100% 100%;
  display: none;
}
#border3-z{	
	position:absolute;
	height:40%;
	width:30%;
	z-index:2;
	top:52%;
	left:70%;
  background: url(../../img/zhuhuan/3.png);
  background-size:cover;
  background-size:100% 100%;
  display: none;
}
#border4-z{
	position:absolute;
	height:40%;
	width:30%;
	z-index:2;
	top:0%;
	left:0%;
  background: url(../../img/zhuhuan/4.png);
  background-size:cover;
  background-size:100% 100%;
  display: none;
}
#myCanvas{
  z-index: 3;
}

#atext{
	font-size: 20px;
	font-weight: bold;
}

@charset "utf-8";
a img {border:0}
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
/* 效果CSS开始 */	
.demo {
	position: absolute;
	top:30%;
	left:20%;
 margin: 0px auto;
 text-align:center;
 z-index:5;
} 
.nav li	{
 position: relative;
 display: inline-block;
 margin-left: -50px;
 -webkit-transition: all 0.4s linear;
 -moz-transition: all 0.4s linear;
 -o-transition: all 0.4s linear;
 -ms-transition: all 0.4s linear;
 transition: all 0.4s linear;
}
.nav li a {
 display: inline-block;
 width: 120px;
 height: 120px;
 padding: 30px;
 border-radius: 50%;
 border-width: 8px;
 border-style: solid;
}
.nav li:hover {
 z-index: 11;
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
}
.nav li:hover a {
 text-decoration: none;
}
.nav li:hover span {
 -webkit-transition: all 0.4s linear;
 -moz-transition: all 0.4s linear;
 -o-transition: all 0.4s linear;
 -ms-transition: all 0.4s linear;
 transition: all 0.4s linear;
 -webkit-animation: moveFromBottom 0.3s ease;
 -moz-animation: moveFromBottom 0.3s ease;
 -o-animation: moveFromBottom 0.3s ease;
 -ms-animation: moveFromBottom 0.3s ease;
 animation: moveFromBottom 0.3s ease;
}
.nav li:nth-child(1) a {
 color: #4d9683;
 text-shadow: 0 1px 0 #9de3cf;
 border-color: #549e89;
 background-color: #51c9a7;
}
.nav li:nth-child(2) a {
 color: #be607e;
 text-shadow: 0 1px 0 #de8ba5;
 border-color: #e499b0;
 background-color: #e67b9c;
}
.nav li:nth-child(3) a {
 color: #5e9eb4;
 text-shadow: 0 1px 0 #adddec;
 border-color: #a2cfde;
 background-color: #7ec9e3;
}
.nav li:nth-child(4) a {
 color: #ba9d5e;
 text-shadow: 0 1px 0 #f5e0ad;
 border-color: #dcc999;
 background-color: #f0cd78;
}
.nav li:nth-child(5) a {
 color: #b468a2;
 text-shadow: 0 1px 0 #e8acd8;
 border-color: #d8abcd;
 background-color: #dd91cb;
}
.nav li:nth-child(1):hover a {
 color: #0f775c;
 text-shadow: 0 1px 0 #81e6c9;
 border-color: #0a8462;
 background-color: #00c18c;
}
.nav li:nth-child(2):hover a {
 color: #b12a55;
 text-shadow: 0 1px 0 #ff95b7;
 border-color: #ba335c;
 background-color: #ea5180;
}
.nav li:nth-child(3):hover a {
 color: #2883a2;
 text-shadow: 0 1px 0 #9cdef2;
 border-color: #4397b3;
 background-color: #55c1e5;
}
.nav li:nth-child(4):hover a {
 color: #ab8228;
 text-shadow: 0 1px 0 #ffe199;
 border-color: #b08f3e;
 background-color: #f8c64d;
}
.nav li:nth-child(5):hover a {
 color: #a33689;
 text-shadow: 0 1px 0 #ec97d6;
 border-color: #b7569f;
 background-color: #dd70c3;
}
.nav span {
 display: block;
 line-height:70px;
 font-size: 60px;
 font-style: nomal;
}
.nav span:before {
 display: block;
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(120%) scale(0.5) ;
    opacity: 0;
  }
 to {
   -webkit-transform: translateY(0%) scale(1);
   opacity: 1;        
 }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(120%) scale(0.5) ;
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0%) scale(1);
    opacity: 1;        
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(120%) scale(0.5) ;
    opacity: 0;
  }
  to {
   -ms-transform: translateY(0%) scale(1);
   opacity: 1;        
 }
}
@-o-keyframes moveFromBottom {
  from {
    -o-transform: translateY(120%) scale(0.5) ;
    opacity: 0;
  }
  to {
   -o-transform: translateY(0%) scale(1);
   opacity: 1;        
 }
}
@keyframes moveFromBottom {
  from {
    transform: translateY(120%) scale(0.5) ;
    opacity: 0;
  }
  to {
   transform: translateY(0%) scale(1);
   opacity: 1;        
 }
}

/* 效果CSS结束 */